html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #205cc1 !important;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.featured {
  border-radius: 20px;
  padding: 20px;
  background: #e9c021;
  background: #d3e725;
}

.main-header {
  font-size: 5.1vw;
  font-weight: 900;
}

.bg-none {
  background: none;
  outline: none;
}

.task-container {
  padding: 0 10px;
  min-height: 100%;
}

.task-con-title {
  font-weight: 600;
  font-size: 18px;
  color: #292d1c;
}

.task-card {
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  border-radius: 5px;
  border: 0.8px solid #ccc;
  box-shadow: -1px 0.8px 0px #ccc;
  font-weight: 400;
  color: #373737;
  font-size: 14px;
  padding: 13px;
}

.form-control:active,
.form-control:focus,
.btn:active,
.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #fff;
  }
}